body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'STXihei';
}
body #app {
  display: flex;
}

.light-theme {
  --bg: #fff;
  --text: #000;
  --primary: #336699;  // 573c89
  --btn-text: #fff;
}

.dark-theme {
  --bg: #000;
  --text: #fff;
  --primary: #663399;
  --btn-text: #fff;
}
