body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'STXihei', 'dyh';
  user-select: none;
}
body #app {
  display: flex;
}

// 字体
@font-face {
  font-family: 'dyh'; /* 自定义字体名称 */
  src:
    url('@r/assets/fonts/SmileySans-Oblique.ttf.woff2') format('woff2'),
    url('@r/assets/fonts/SmileySans-Oblique.otf.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.dyh {
  font-family: dyh;
}
.consolas {
  font-family: 'Consolas' !important;
}

// 自定滚动条样式
.scroll-bar {
  overflow-x: hidden;
  overflow-y: overlay;
  &:hover::-webkit-scrollbar-thumb {
    display: block;
    width: 8px;
  }
  &:hover::-webkit-scrollbar-track {
    display: block;
  }

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--thumb);
    border-radius: 10px;
    display: none;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
    display: none;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--light-text);
  }
}

.light-theme {
  --bg: #ffffff;
  --text: #000;
  --light-text: #636363;
  --primary: #336699;
  --btn-text: #ffffff;
  --border: #d3d3d3;
  --hover: #f1f1f1;
  --thumb: #a3a3a3;
  --error: #d14e4e;
}

.dark-theme {
  --bg: #1e1f2f;
  --text: #f5f5f5;
  --light-text: #9a9a9a;
  --primary: #666699;
  --btn-text: #f5f5f5;
  --border: #383b46;
  --hover: #282836;
  --thumb: #636363;
  --error: #c55959;
}

.transition {
  & .no-transition {
    transition: 0.2s all ease !important;
    & .text-no-trans {
      transition: 0.2s color ease !important;
    }
    & .bg-no-trans {
      transition: 0.2s background-color ease !important;
    }
  }
}
